/* Styles for header */
.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 24px;
}

.product-box {
    width: 300px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    font: 14px/32px;
  }

  .product-listing li {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin-bottom: 16px;
    transition: transform 0.3s ease;
    font: 14px/32px;
  }
.button {
    margin-top: 10px;
    margin-left: 10px;
    font: 14px/32px;
}
.button:hover {
    background-color: #c7c7c7;
}

.form-group {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: 14px/32px;
  }
